<h1 mat-dialog-title>Table {{ table.numeroTable }}</h1>
<hr>
<div mat-dialog-content>
  <p>Confirmer l'arrivée</p>
  <p>de {{ table.reservation?.prenomUtilisateur }} {{ table.reservation?.nomUtilisateur }}</p>
  <br>
  <p>Nombre de personnes</p>
  <input type="number" [value]="table.reservation?.nbPersonnes" [max]="table.nbPlaces + 1" [min]="1">
  <br>
  <button mat-button >Confirmer</button>
</div>
<br><hr>
<div mat-dialog-actions>  
  <button mat-button (click)="closeDialog()">Fermer</button>
</div>

