<h1>Aujourd'hui</h1>
<div *ngIf="todayReservations.length === 0">Aucune réservation à afficher.</div>
<div *ngFor="let reservation of todayReservations">
  <div class="table-item">
    <div class="table-header">
      <div class="table-number">Table n°{{ reservation.idTable }}</div>
      <div class="table-info">
        <div class="status">
          {{ reservation.prenomUtilisateur }} {{ reservation.nomUtilisateur }} ( {{ reservation.nbPersonnes }} personne(s) )</div>
        <div class="reserve">
          {{ reservation.dateReservation | date : "HH:mm" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let date of futureReservationDates">
  <h1>{{ date | titlecase }}</h1>
  <div *ngFor="let reservation of futureReservationsByDate.get(date)">
    <div class="table-item">
      <div class="table-header">
        <div class="table-number">Table n°{{ reservation.idTable }}</div>
        <div class="table-info">
          <div class="status">
            {{ reservation.prenomUtilisateur }} {{ reservation.nomUtilisateur }} ( {{ reservation.nbPersonnes }} personne(s) )</div>
          <div class="reserve">
            {{ reservation.dateReservation | date : "HH:mm" }}
          </div>
        </div>
      </div>
    </div>
</div>
